<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <root level="info">
        <appender-ref ref="springLog"/>
    </root>     <!-- LOGGER ROOT PER GESTIRE IL LOGGING BASE DI SPRING-->

    <!-- LOGGERS-->
    <logger name="org.caesar.productservice.Config" level="debug">
        <appender-ref ref="debugLog"/>
    </logger>   <!-- LOGGER PER GESTIRE IL LOGGING DEL MICROSERVIZIO A LIVELLO DI DEBUG-->

    <logger name="org.caesar.productservice.Controller" level="debug">
        <appender-ref ref="debugLog"/>
    </logger>   <!-- LOGGER PER GESTIRE IL LOGGING DEL MICROSERVIZIO A LIVELLO DI DEBUG-->

    <logger name="org.caesar.productservice.Data" level="debug">
        <appender-ref ref="debugLog"/>
    </logger>   <!-- LOGGER PER GESTIRE IL LOGGING DEL MICROSERVIZIO A LIVELLO DI DEBUG-->

    <logger name="org.caesar.productservice.Dto" level="debug">
        <appender-ref ref="debugLog"/>
    </logger>   <!-- LOGGER PER GESTIRE IL LOGGING DEL MICROSERVIZIO A LIVELLO DI DEBUG-->

    <logger name="org.caesar.productservice.GeneralService" level="debug">
        <appender-ref ref="debugLog"/>
    </logger>   <!-- LOGGER PER GESTIRE IL LOGGING DEL MICROSERVIZIO A LIVELLO DI DEBUG-->

    <logger name="org.caesar.productservice.Sagas" level="debug">
        <appender-ref ref="debugLog"/>
    </logger>   <!-- LOGGER PER GESTIRE IL LOGGING DEL MICROSERVIZIO A LIVELLO DI DEBUG-->

    <logger name="org.caesar.productservice.Utils" level="debug">
        <appender-ref ref="debugLog"/>
    </logger>   <!-- LOGGER PER GESTIRE IL LOGGING DEL MICROSERVIZIO A LIVELLO DI DEBUG-->


    <!-- APPENDERS-->
    <appender name="springLog" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{dd:MM:yyyy} %green(%-5level) %magenta(%logger{36}) - %msg %n</Pattern>
        </encoder>
    </appender>     <!-- APPENDER PER SPRING -->

    <appender name="debugLog" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{dd:MM:yyyy ss:mm:hh} %yellow(%-5level) %blue(%logger{36}) - %msg %n</Pattern>
        </encoder>
    </appender>     <!-- APPENDER PER LIVELLO DEBUG DEL MICROSERVIZIO -->
</configuration>